*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}
body{
    overflow: hidden;
}
.inicio{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3));
    background-image: url(img/fondo.jpg);
    background-size: cover !important;
    height: 100vh;
    width: 100vw;
    display: inline-block;
}
.nombre_apellido{
    color: aqua;
    font-size: 50px;
}
.info-extra{
    color: brown;
    font-size: 23px;
}
.background_profile{
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    padding:20px;
}
.datos-cv{
    background-color: rgba(106, 182, 20, 0.2);
    position:absolute;
    height: 59%;
    width: 45%;
    top: 19%;
    right: 4%;
}
.skills{ 
    text-align:justify;
    background-color:rgba(38, 55, 209, 0.2);  
    list-style-type: circle;
    position: relative;
    width:93%;
    padding-left: 5.7%;
    display: inline-;
    height: 100%;
}
.background_contenido a{
    text-decoration: none;
    color: #fff;
}
.contacto{
    color: aqua;
    border-top: 5px dotted #fff;
} 
.background_contenido{
    position: relative;
    width: 19%;
    left: 32.1%;
    text-align: justify;
    background-color: rgba(139, 9, 63, 0.3);
}