*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}
.img .name{
    float: right;
    width: 40px;
}
.inicio{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3));
    background-image: url(img/fondo.jpg);
    background-size: cover;
}

.nombre_edad{
    font-size: 40px ! important;
    text-align: center;
}
.img{
    width: 100%;
    text-align: center;
}
.sobre-mi{
    color: chartreuse;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.skills{
    color: brown;
    width: 100%;
    text-align: center;
    font-size: 20px;
}