*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}
.inicio{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3));
    background-image: url(img/fondo.jpg);
    background-size: cover;
}
.nombre_apellido{
    color: aqua;
    font-size: 25px;
}
.info-extra{
    color: brown;
}
.background_profile{
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    padding:40px;
}
.image-profile{
    height:180px;
}
.contenido_sobre-mi{
    color: yellow;
    width: 550px;
    text-align: right;
}
.skills{
    background-color: rgba(0,0,0,.5);
    position: relative;
    left: 850px;
    bottom: 193.6px;
}